.Button {
  display: inline-block;
  padding: 0.625rem 1.5rem;
  cursor: pointer;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 2px;
  line-height: 18px;
  background-size: 100% 200%;
  transition: all  0.3s ease-in;
  opacity: 1;
  &:focus {
    outline: none;
  }
  &[hidden] {
    opacity: 0;
  }
}

.primary {
  background: linear-gradient(to top, #3c80cf, #5b9fef);
  color: #fff;
  border-color: #3c80cf;
  &:not([disabled]):hover {
    background: linear-gradient(to bottom, #3c80cf, #5b9fef);
  }
  &[disabled] {
    cursor: not-allowed;
    color: #eee;
    background: linear-gradient(to top, #659bd9, #89baf4);
    border-color: #659bd9;
  }
}

.secondary {
  background: #e5ebed;
  color: #536171;
  border-color: #c3cfd5;
}
