.TermView {
  border: 1px solid #c3cfd4;
  margin-top: 16px;
  transition: all 0.3s ease;
  .Header {
    background-color: #546171;
    padding: 16px;
    font-size: 14px;
    color: #ffffff;
    // Hide parent border
    margin: -1px -1px -1px;

    a {
      cursor: pointer;
    }
  }
  .LoaderWrapper {
    margin: 32px 0;
  }
  .DictionaryEmpty {
    padding: 16px;
  }
  .Item {
    padding: 12px;
    display: flex;
    transition: all .3s ease-in;
    &:not(:last-child) {
      border-bottom: 1px solid #c3cfd4;
    }
    &.hasChilds:hover {
      background-color: #F4F7F7;
      cursor: pointer;
    }
    .content {
      overflow: hidden;
      flex-grow: 1;
      margin: auto 0;
    }
    .title {
      font-size: 16px;
      color: #000100;
    }
    .subtitle {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: 12px;
      color: #676d73;
      margin: 4px 16px 0 0;
    }
  }
}
