.FullWidth {
  width: 100%;
}

.InputContainer {
  border: solid 1px #d3dce0;
  box-sizing: border-box;
  display: flex;
  &.active {
    border: solid 1px #13ce8f;
  }
  &.error {
    border: solid 1px #f44336;
  }
  input {
    border: none;
    width: 100%;
    padding: 12px;
    &:focus {
      outline: none;
    }
  }
}
